body {
   flex-direction: column;
   margin: 0;
   flex: 1;
   background-color: rgb(249, 232, 220);
}

.text {
   text-align: left; 
   padding-left: 170px; 
   padding-top: 20px; 
   color: rgb(95, 62, 39);
}

/*form and list*/
#contact-container{
   display: flex;
}

.contact__font {
   font-family: Noto Serif;;
}

#contact-form {
    flex:1;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 150px;
}	

label, input[type="name"],[type="email"],[type="message"], button {
    font-size: 16px; /* Set the font size for consistency */
}

input[type="name"],[type="email"],[type="message"]{
    width: 100%; /* Make input fields and textarea take up 100% of the container */
    padding: 12px; /* Add padding to the input fields for a larger appearance */
    box-sizing: border-box;
}

input[type="message"] {
    height: 200px; /* Increase the height of the textarea */
    width: 300px;
}

#contact-details {
    flex: 1;
    border-collapse: collapse;
    padding-left:40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.text-arr{
    text-align: center;
    padding: 60px;
}

/*table*/
table {
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse; /* Added to remove the spacing between cells */
}

th, td {
    border:1px solid black;
    padding: 15px;
    
}

td:first-child {
    width: 20px; /* Set the width of the first column */
}

td:nth-child(2) {
    width: 100px; /* Adjust the width according to your needs */
}

tr {
    height: 50px;
    rgb(239, 197, 166)
}

/*icon*/
  .icons, .fa {
    color: black;
    text-align: center;
    font-size: 34px;
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
}

.fa-map-marker,
.fa-envelope,
.fa-phone {
    font-size: 34px !important; 
}

.fa {
    color: rgb(95, 62, 39); 
}

.icons a i {
    transition: transform 0.3s ease-in-out;
}

.icons a:hover i {
    transform: scale(1.4); 
}

/*button*/
.btn {
    background-color: rgb(95, 62, 39);
    color: white;
    padding: 14px 14px;
    border: none;
    cursor: pointer;
    width: 150px;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 150px;
    font-family: Noto Serif, serif;
}

.btn:hover {
    opacity:1;
}

.skill {
    text-align: center;
}

.skill h1 {
    font-family: Salsa;
}

.skill p {
    font-family: Noto-Serif;
    font-size: 22px;
}





